doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Document
        
    body
        

        main
            h1 LOCATION
            section
                    article
                        h1 LOCALIZACIÓN / The Bridge
                        p C/ ----- n----
                        p Tlf: 5246984
                        p Horario: 7:00-21:00h
                      
        script(src="/js/script.js")